<div class="card" id="formateurForm" *ngIf="formateur">
        <div class="card-header bg-info text-white">
            <h3>
                Edition de la matière
            </h3>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="Id" class="col-md-2 col-form-label">Id :</label>
                <input type="number" class="col-md-10 form-control" id="Id" readonly [(ngModel)]="formateur.id">
            </div>
            <div class="form-group row">
                <label for="Nom" class="col-md-2 col-form-label">Nom :</label>
                <input type="text" class="col-md-10 form-control" id="Nom"  [(ngModel)]="formateur.nom">
            </div>
            <div class="form-group row">
                <label for="Prenom" class="col-md-2 col-form-label">Prenom :</label>
                <input type="text" class="col-md-10 form-control" id="Prenom"  [(ngModel)]="formateur.prenom">
            </div>
            <div class="form-group row">
                <label for="Email" class="col-md-2 col-form-label">Email :</label>
                <input type="text" class="col-md-10 form-control" id="Email"  [(ngModel)]="formateur.email">
            </div>
            <div class="form-group row">
                <label for="Titre" class="col-md-2 col-form-label">Externe :</label>
                <input style="width: 15px; height: 15px;" type="checkbox" value="true" class="col-md-10 form-control" id="Externe" [(ngModel)]="formateur.externe">               
            </div>
            <div class="form-group row">
                <label for="Duree" class="col-md-2 col-form-label">Competences :</label>
                <div *ngFor = "let matiere of matieres">
                    <label class="p-2">{{matiere.titre}}</label>
                    <input class="p-2" type="checkbox" [(ngModel)]="matiere.checked">
                    <br>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group btn-group-lg float-right">
                <button type="button" class="btn btn-success" (click)="save()">
                    <i class="fa fa-check"></i>
                </button>
                <button type="button" class="btn btn-warning" (click)="cancel()">
                    <i class="fa fa-undo"></i>
                </button>
            </div>
        </div>
    </div>